#count {
    display: inline;
    font-weight: bold;
    margin: 0;
}

#logo {
    height: 200px;
    width: 200px;
    background: url('https://intranet-projects-files.s3.amazonaws.com/holbertonschool-webstack/581/holberton-logo.jpg');
    background-size: 200px 200px;
}